{% extends "html/base.html" %}

{% block body %}
    <div id="center_canvas">
        <h1>Giotto Multi User Blog Engine</h1>
        {% if model.viewing_user %}
            Hello <strong>{{ model.viewing_user.username }}</strong>,
            <a href="/new">Create new blog</a>,
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/register">Register</a> or <a href="login">Login</a>
        {% endif %}
        <hr>
        {% for blog in model.blogs %}
        <div class="blog">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
            <h3>By {{ blog.author.username }}</h3>
            <p>{{ blog.body }}</p>
        </div>
        {% else %}
        <em>No blogs</em>
        {% endfor %}
    </div>
{% endblock %}